@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --orange-color: hsl(25, 97%, 53%);
    --white-color: hsl(0, 0%, 100%);
    --light-grey-color: hsl(217, 12%, 63%);
    --dark-blue-color: hsl(215, 18%, 19%);
    --secondary-dark-blue-color: hsl(215, 20%, 17%);
    --background-color: hsl(216, 12%, 8%); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    font-weight: normal;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 14px);
    width: min(100% - 2rem);
    margin: 0 auto;
}

h1 {
    color: var(--white-color);
}

p {
    color: var(--light-grey-color);
    margin-top: 6px;
    line-height: 1.4;
}

.btn {
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--orange-color);
    color: var(--dark-blue-color);
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 300ms ease;
}

.btn:hover {
    background-color: var(--white-color);
    color: var(--dark-blue-color);
}

.rating,
.thankyou {
    max-width: 360px;
    padding: 28px;
    background-color: var(--secondary-dark-blue-color);
    border-radius: 24px;
    display: grid;
    row-gap: 20px;
}

/* APP */

.rating {
    display: grid;
}

.rating__icon {
    line-height: .6;
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--dark-blue-color);
    align-content: center;
    text-align: center;
    border-radius: 100%;
}

.rating__menu {
    display: flex;
    justify-content: space-between;
}

.rating__menu li {
    text-align: center;
    align-content: center;
    width: 44px;
    aspect-ratio: 1;
    background-color: var(--dark-blue-color);
    border-radius: 100%;
    cursor: pointer;
    transition: 300ms ease;
}

.rating__menu li:hover {
    background-color: var(--orange-color);
}

.rating__menu li:hover a {
    color: var(--dark-blue-color);
}

.rating__menu li a {
    position: relative;
    top: 2px;
    color: var(--light-grey-color);
    font-weight: 700;
}

/* Thankyou */

.thankyou {
    text-align: center;
    display: none;
}

.thankyou__score {
    width: fit-content;
    padding: 4px 16px;
    border-radius: 50px;
    color: var(--orange-color);
    font-weight: 400;
    margin: 0 auto;
    background-color: var(--dark-blue-color);
}